ul li:nth-child(4){
    border-right: none;
}

#bar ul li a {
    display: inline;
    margin-right: 100px;
    border-right: 1px solid silver;
    padding-right: 90px;
    padding-top: 10px;
}
ul {
    align-content: center;
    list-style-type: none;

}
#bar2{
    background-color: #f9f9f9;
}
@media only screen and (max-width: 450px){
    .image1{
        visibility: hidden;
    }

}
.button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    font-size: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 5px;
    line-height: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.button:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.button:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}
.button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
.button:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@-webkit-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
@-moz-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

@media screen and (max-width: 425px){
    #head1 {
        margin :0%;
    }
    #head1> a {
        border: none !important;
        font-size: 10px !important;
        display: flex !important;
        justify-content: center !important;
    }
}
@media screen and (max-width: 320px){
    #head1 {
        margin :0%;
    }
    #head1> a {
        border: none !important;
        font-size: 8px !important;
        display: flex !important;
        justify-content: center !important;
    }
}

#bar1{
    display:flex  ;
    justify-content: center;
}
.navbar-brand img{

    height:58px;

    width: 75px;
}
.navi>li>a{ padding: 10px;

}
.navi>li>a:hover{
    background-color: snow;
}
.active{
    border-color: #286090;
}
#bar3{
    background: white;
    border: white;
    margin-left: 27px;
}
#image1{
    margin-top: 50px;
}


#src{
    width: 200px;
    border-spacing: 10px;
}
.carousel-inner{
    width:100%;
    height: 70% ;
    /*padding-top: 25px;*/
}
.search-box{
    display: inline;
    border-radius: 40%;
    border-radius:40px ;
    height: 40px;
}
.search-btn{
    color:#171a1d;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background: #286090;
    justify-content:center ;
    align-items: center;
    transition: 0.4s;


}
.search-txt{
    border: none;
    background: white;
    outline: none;
    font-size: 16px;
    line-height: 40px;


}
.search-box:hover>.search-btn{
    background: black;
    border: none;
}
.search-box:hover>.search-txt{
    width: 147px !important;
    transition:0.4s;
    color: #171a1d;
}
.dropdown>.btn:hover{
    background: black;
}
.picture{
    width: 100%;

}
#picture2{
    width: 100%;
    padding-top: 92px;
    padding-bottom: 11px;
}

.picture:hover {
    border: 2px solid rgba(27, 28, 29, 0.5);
}
.container img {
    width: 100%;
    height: auto;
}

.btnn {
    position: absolute;
    background-color: #144E80;
    top: 90%;
    left: 37%;
    color: white;
    font-size: small;
    padding: 5px 10px;
    border: none;
    text-align: center;
    border-radius:8%;
}
.btnn:hover{
    background-color: black;
    color: white; !important;
}

#nav-pills{
    display: flex;
    justify-content: center;
    background-color: silver;
}
#nav-pills li a:hover{
    font-size: large;
    color: black;
    text:bold;
    background: #144E80;

}
#nav-pills li a{
    display:flex;
    font-size: medium;
    color: black;

}
.nav-pills>li.active>a{
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    background-color: #4b5973;

}
.nav-pills>li>a:hover{
    color: black;

}
#tabs-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column:3;
}
.img-fluid{
    margin: 20px;
    height: 456px;
    width: 278px;
}



#tabs{
    background:snow;}

.cart {
    position: absolute;
    top: 450px;
    right:20px;
    border: 5px solid;
    border-color: #144E80;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 278px;
    height: 40px;
    transition-delay: 9.4s;
    padding: 4px;
    background-color: #144E80;

}
.mylink{
    transform: translate(0,50px);
    opacity: 0;
    display: none;
    /*transition: 200ms;*/
}
@keyframes bounce {
    0%   {transform: translate(0,25px); opacity: 0}
    100% {transform: translate(0,0px); opacity: 1}
}

a img.linkstyle{
    opacity: 1;
    display: flex;
    animation-name: bounce;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.77,.21,0,.81);
}
#particles-js{
    height: 100%;
    background-color: black;
}
/* ---- reset ---- */



/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js -- repeat because the change is tobe done in source file-- */

#particles-js1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.js-count-particles{
    font-size: 1.1em;
}


.count-particles{
    border-radius: 0 0 3px 3px;
}
.mynav{
    background-color: #2a6280;
    color: white;
    font-size: x-large;
    font-family: "Arial";
    margin: 11px;
    display: flex;
    justify-content: center;
    border-color:blue ;
    border-width: 2px;
    height: 80%;
}
h{
    margin-top:10px ;
}
.taby> .heading{
    margin-top: 10px;
}
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
* {
    box-sizing: border-box;
}

.taby> body {
    font-family: 'Lato', sans-serif;
    background: #222;
}

.taby> ul {
    font-size: 0;
    position: relative;
    padding: 0;
    width: 480px;
    margin: 40px auto;
    user-select: none;
}

.taby> li {
    display: inline-block;
    width: 160px;
    height: 60px;
    background: #2a6280;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 55.8px;
}

.taby>.slider {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: grey;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}
/*  Ripple */

.taby>.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: relative;
    opacity: 1;
    display: flex;
    justify-content: center;
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}





/*-------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider>body {
    background: #242c38;
    font-family: 'Roboto';
    font-size: 62.5%;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    width: 0;
}

.slider>ul {
    list-style-type: none;
}

.slider>a {
    color: #00c5b9;
    text-decoration: none;
}

.slider>h1 {
    color: #FFF;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    font-size: 2.4em;
}

/** ---------------------------------------
 * Slider
 ----------------------------------------*/
.slider>.container-fluid {
    width: 800px;
    margin: 40px auto 0;
}

.slider-wrapper {
    z-index: 500;
    position: relative;
    width: 100%;
    height: 360px;
    background: #FFF;
    border: 5px solid #4b5973;
    overflow: hidden;
}

.slider-wrapper li {
    display: none;
}

.slider-wrapper .current-slide {
    display: block;
}

.slider-shadow {
    width: 100%;
    height: 15px;
    position: relative;
}

.slider-shadow:after, .slider-shadow:before {
    content: '';
    position: absolute;
    background: #171c24;
    height: 100%;
    width: 50%;
    left: 10px;
    top: -20px;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
    -webkit-box-shadow: 0 0 15px 8px #171c24;
    box-shadow: 0 0 15px 8px #171c24;
}

.slider-shadow:before {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
}

.slider-wrapper img {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

/**
 * ---[Caption] ----------------------
 **/
.slider-wrapper .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.65);
    width: 100%;
    padding: 10px;
    color: #FFF;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slider-wrapper li:hover .caption {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}


.slider-wrapper h2 {
    color: #00c5b9;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 6px;
}

.slider-wrapper p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.4em;
}

/**
 * ---[Botones-Control] ----------------------
 **/
.control-buttons {
    margin-top: 15px;
    text-align: center;
}

.control-buttons li {
    cursor: pointer;
    display: inline-block;
    background: #424f66;
    text-indent: -99999px;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.control-buttons li.active {
    background: #00c5b9;
}



/** ---------------------------------------
 * Responsive
 ----------------------------------------*/
@media only screen and (max-width: 825px) {
    .container {
        width: 500px;
    }

    .slider-wrapper {
        height: 260px;
    }
}

@media only screen and (max-width: 535px) {
    .container {
        padding: 5px;
        width: 100%;
        margin: 40px 0 0 0;
    }

    .slider-wrapper {
        height: 200px;
    }

    .slider-wrapper .caption {
        display: none;
    }

}

@media only screen and (max-width: 410px) {
    .slider-wrapper {
        height: 160px;
    }
}
/*------------------------------------------------------GRID-------------------------------------------------------*/
/* CSS used here will be applied after bootstrap.css */
.carousel {
    margin-top: 20px;
}
#carousel .item {
    cursor: zoom-in;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img {
    width: 100%;
    margin: 2px;
}
.item img {
    width: 100%;
}
/*--------------------------------------------------------------------COR----------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-grow {
    flex: 1 0 30%;
}
.k-container {
    max-width: 100%;
}
@media (min-width: 1200px) {
    .k-container {
        max-width: 1140px;
        margin: 0 auto;
    }
}
.carousel-container-alt-base {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: none;
}
@media (min-width: 1200px) {
    .carousel-container-alt-base {
        overflow: hidden;
    }
}
.carousel-container-alt-base .carousel-container-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    transform: translate3d(80%, 0px, 0px);
    transition: transform 0.4s ease-in-out;
    max-width: 100%;
}
@media (min-width: 600px) {
    .carousel-container-alt-base .carousel-container-alt {
        transform: translate3d(15%, 0, 0);
    }
}
@media (min-width: 1200px) {
    .carousel-container-alt-base .carousel-container-alt {
        transform: translate3d(0, 0, 0);
    }
}
.carousel-container-alt-base .carousel-container-alt .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    cursor: pointer;
}
.carousel-container-alt-base .carousel-container-alt .content:hover .quick-link {
    opacity: 1;
}
.carousel-container-alt-base .carousel-container-alt .content > img {
    width: 180px;
    height: auto;
}
@media (min-width: 1200px) {
    .carousel-container-alt-base .carousel-container-alt .content > img {
        width: 200px;
    }
}
.carousel-container-alt-base .arrow-container {
    position: absolute;
    background-color: black;
    padding: 20px;
    z-index: 1;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    color: white;
    display: none;
}
.carousel-container-alt-base .arrow-container:hover {
    transform: scale(1.2);
}
@media (min-width: 900px) {
    .carousel-container-alt-base .arrow-container {
        display: flex;
    }
}
.arrow-right {
    right: 0;
}
.arrow-left {
    left: 0;
}
.quick-link {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.arrow-inactive {
    opacity: 0.3;
    transform: none !important;
}
.text-uppercase {
    text-transform: uppercase;
}
.flex-mobile-column {
    flex-direction: column;
}
@media (min-width: 1200px) {
    .flex-mobile-column {
        flex-direction: row;
    }
}
.social>img{
    padding: 10px;

}
.flex-mobile-column-alt {
    flex-direction: column;
}
/*=====================nav bar =======------------------------------------------------------------------------------------------===*/
* {
    box-sizing: border-box;
}
.navbar-brand img {
    height: 58px;
    width: 75px;
    z-index: 2;
    position: relative;
}


.nav {
    height: 5px;
    width: 100%;
    background-color: white;
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: flex;
    background-color: white;
    justify-content: flex-end;



}

.nav > .nav-links > a {
    display: inline-block;
    padding: -3px 10px 13px 10px;
    text-decoration: none;
    font-size: medium;
    color: #2a6280;
    background-color: white;
    font-family:"Arial Black" ;
    margin-right: 20px;


}

.nav > .nav-links > a:hover {
    background-color:#2a6280 ;
    color: white;
    border-radius: 20%;
    transition: 0.9s;
}

.nav > #nav-check {
    display: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 15px;
}
@media (max-width:200px) {
    .nav > .nav-btn {
        color: #2a6280;
        display: flex;
        justify-content: left;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #2a6280;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) + .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked + .nav-links {
        height: calc(100vh - 300px);
        overflow-y: auto;
    }
}
/*-------------------------------------------------------------------COUNTER-----------------------------------------*/
