body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
}
.login-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
     background-color: transparent;
    box-shadow: black;
    background-clip: border-box;
    border-radius: .25rem;}
.card-header{
    padding: .75rem 1.25rem;
    /* margin-bottom: 0; */
    /* background-color: rgba(0,0,0,.03); */
    /* border-bottom: 1px solid rgba(0,0,0,.125); */
    display: flex;
    justify-content: center;
    padding-left: 17%;
    font-size: 200%;
    color: white;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.6;
}
input{

    font-weight:300 !important;
    border:0 !important;
    border: none!important;
    border-bottom:1px solid white !important;
    background-color: transparent!important;
    color: white!important;

    width:100%!important;

    font-size:15px!important;
    display: flex;
    -webkit-justify-content: center;
}
#remember{
    padding-left: 15px;
}
body {
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.button {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300!important;
    font-size: 15px !important;
    padding-left: 32% !important;
    padding-right: 31% !important;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #00c7ec;
    border: 1px solid #00c7ec;
    border-radius: 5px;
    line-height: 3em;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.button:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
    background-color: #00c7ec;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.button:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}
.button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
.button:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 35px 3px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@-webkit-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
@-moz-keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}
.navbar-light .navbar-nav{
    background:-moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%)!important;
}
.navbar-laravel {
    background-color: transparent !important;
    /*box-shadow: 0 14px 84px rgba(59, 129, 152, 1)!important;*/
    /*border-bottom:solid black !important;*/
    box-shadow: none!important;
}

.navbar-light .navbar-nav .nav-link{
    text-decoration: none!important;
    text-transform: uppercase !important;
    font-family: 'Exo 2', sans-serif ;
    font-weight: 300!important;
    font-size: 11px !important;
    padding-left: 20% !important;
    padding-right: 20% !important;
    margin: 5px!important;
    display: inline-block!important;
    position: relative!important;
    text-align: center!important;
    color: white!important;
    border: 2px solid white!important;
    border-radius: 5px!important;
    line-height: 3em!important;
    padding-left: 5em!important;
    padding-right: 5em!important;
    box-shadow: 0 0 0 0 transparent !important;
    -webkit-transition: all 0.2s ease-in!important;
    -moz-transition: all 0.2s ease-in!important;
    transition: all 0.2s ease-in!important;
    display: flex!important;
    justify-content: center!important;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black!important;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 8.5)!important;
    background-color: white!important;
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-out!important;
    -moz-transition: all 0.2s ease-out!important;
    transition: all 0.2s ease-out!important;
    border-radius: 8%;
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: transparent!important;

}
.navbar-laravel {
    display: table-cell!important;
}
